[submodule "src/cloud_controller_ng"]
	path = src/cloud_controller_ng
	url = https://github.com/cloudfoundry/cloud_controller_ng.git
[submodule "src/warden"]
	path = src/warden
	url = https://github.com/cloudfoundry/warden.git
[submodule "src/collector"]
	path = src/collector
	url = https://github.com/cloudfoundry/collector.git
[submodule "src/dea"]
	path = src/dea
	url = https://github.com/cloudfoundry/dea_ng.git
[submodule "src/loggregator"]
	path = src/loggregator
	url = https://github.com/cloudfoundry/loggregator.git
[submodule "src/github.com/cloudfoundry/gorouter"]
	path = src/github.com/cloudfoundry/gorouter
	url = https://github.com/cloudfoundry/gorouter.git
[submodule "src/hm-workspace"]
	path = src/hm-workspace
	url = https://github.com/cloudfoundry/hm-workspace
